<%= form_for(@system_stat) do |f| %>
  <% if @system_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_stat.errors.count, "error") %> prohibited this system_stat from being saved:</h2>

      <ul>
      <% @system_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_cpu %><br>
    <%= f.text_field :user_cpu %>
  </div>
  <div class="field">
    <%= f.label :sys_cpu %><br>
    <%= f.text_field :sys_cpu %>
  </div>
  <div class="field">
    <%= f.label :load_1 %><br>
    <%= f.text_field :load_1 %>
  </div>
  <div class="field">
    <%= f.label :load_5 %><br>
    <%= f.text_field :load_5 %>
  </div>
  <div class="field">
    <%= f.label :load_15 %><br>
    <%= f.text_field :load_15 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
