<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :background_type %><br>
    <%= f.select(:background_type, Batch::BACKGROUND_TYPES.map { |value| [ value, value ] }) %>
  </div>

  <div class="field">
    <%= f.label :job_type %><br>
    <%= f.select(:job_type, Batch::JOB_TYPES.map { |value| [ value, value ] }) %>
  </div>

  <div class="field">
    <%= f.label :job_count %><br>
    <%= f.number_field :job_count %>
  </div>

  <div class="field">
    <%= f.label :worker_count %><br>
    <%= f.number_field :worker_count %>
  </div>

  <div class="field">
    <%= f.label :thread_count %><br>
    <%= f.number_field :thread_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
