<h1>Listing batches</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Background type</th>
      <th>Job type</th>
      <th>Jobs</th>
      <th>Workers</th>
      <th>Threads</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.name %></td>
        <td><%= batch.background_type %></td>
        <td><%= batch.job_type %></td>
        <td><%= batch.job_count %></td>
        <td><%= batch.worker_count %></td>
        <td><%= batch.thread_count %></td>
        <td><%= link_to 'Show', batch %></td>
        <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td><%= batch.statistical_data.mean %></td>
        <td><%= batch.statistical_data.median %></td>
        <td><%= batch.statistical_data.range %></td>
        <td><%= batch.statistical_data.min %></td>
        <td><%= batch.statistical_data.max %></td>
        <td><%= batch.statistical_data.variance %></td>
        <td><%= batch.statistical_data.standard_deviation %></td>
        <td><%= batch.statistical_data.relative_standard_deviation %></td>
        <td><%= batch.statistical_data.value_from_percentile(95) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch', new_batch_path, :class=>'btn btn-primary' %>
