<h1>Listing batches</h1>

<ul class="nav nav-tabs">
  <%= nav_link "Jobs", batches_path(:job_type => "Job") %>
  <%= nav_link "CpuJobs", batches_path(:job_type => "CpuJob") %>
  <%= nav_link "IoJobs", batches_path(:job_type => "IoJob") %>
  <%= nav_link "MixedJobs", batches_path(:job_type => "MixedJob") %>
</ul>

<div class="box-plot" id="box_chart"></div>

<div class="scatter-chart" id="job_scatter"><svg style="height:250px;"></svg></div>

<div class="line-chart" id="user_cpu_line"><svg></svg></div>

<div class="line-chart" id="load_line"><svg></svg></div>


<script type="text/javascript" charset="utf-8">
  var batchData = [];
</script>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Background type</th>
      <th>Job type</th>
      <th>Jobs</th>
      <th>Workers</th>
      <th>Threads</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Wall time</th>
      <th>Run time</th>
      <th>Mean</th>
      <th>Median</th>
      <th>Range</th>
      <th>Std Dev</th>
      <th>25th%</th>
      <th>75th%</th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <% classname = cycle('odd','even') %>
      <tr class="<%= classname %>">
        <td><%= batch.name %></td>
        <td><%= batch.background_type %></td>
        <td><%= batch.job_type %></td>
        <td><%= batch.job_count %></td>
        <td><%= batch.worker_count %></td>
        <td><%= batch.thread_count %></td>
        <td><%= link_to 'Show', batch %></td>
        <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr class="<%= classname %>">
        <td><%= number_to_human batch.wall_time %></td>
        <td><%= number_to_human batch.run_time %></td>
        <td><%= number_to_human batch.mean %></td>
        <td><%= number_to_human batch.median %></td>
        <td><%= number_to_human batch.range %></td>
        <td><%= number_to_human batch.standard_deviation %></td>
        <td><%= number_to_human batch.percentile25 %></td>
        <td><%= number_to_human batch.percentile75 %></td>
        <!--
        <td><%= batch.min %></td>
        <td><%= batch.max %></td>
        <td><%= batch.variance %></td>
        <td><%= batch.relative_standard_deviation %></td>
        <td><%= batch.percentile95 %></td>
        -->
      </tr>
      <script type="text/javascript" charset="utf-8">
        var batch = <%= batch.to_json.html_safe %>;
        batch.jobs = <%= batch.jobs.to_json(:methods => :runtime).html_safe %>;
        batch.system_stats = <%= batch.system_stats.to_json.html_safe %>;
        batchData.push(batch);
      </script>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch', new_batch_path, :class=>'btn btn-primary' %>


<script type="text/javascript" charset="utf-8">
$( document ).ready(function() {
  Batches.index.init();
});
</script>
