<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @batch.name %>
</p>

<div id="box_chart">
  
</div>

<script type="text/javascript" charset="utf-8">
var job_data = <%= @batch.jobs.to_json(:methods => :runtime).html_safe %>;
var sys_data = <%= @batch.system_stats.to_json.html_safe %>
$( document ).ready(function() {
  Batches.show.init();
});

</script>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
