<p id="notice"><%= notice %></p>

<h3><%= @batch.background_type %> : <%= @batch.job_count %> <%= @batch.job_type %>s</h3>
<h5>Workers : <%= @batch.worker_count %> - Threads : <%= @batch.thread_count %></h5> 
<h5>Wall time : <%= number_to_human @batch.wall_time %></h5>
<h5>Run time : <%= number_to_human @batch.run_time %></h5>
<h5>Avg : <%= number_to_human @batch.median %></h5>
<h5>Min : <%= number_to_human @batch.min %></h5>
<h5>Max : <%= number_to_human @batch.max %></h5>
<h5>Std Dev : <%= number_to_human @batch.standard_deviation %></h5>
<div class="scatter-chart" id="job_scatter"><svg style="height:200px;"></svg></div>



<div class="line-chart" id="user_cpu_line"><svg></svg></div>

<div class="line-chart" id="load_line"><svg></svg></div>





<div class="box-plot" id="box_chart"></div>
<div class="box-plot" id="load_chart"></div>
<div class="box-plot" id="user_cpu_chart"></div>
<div class="box-plot" id="sys_cpu_chart"></div>



<script type="text/javascript" charset="utf-8">
var job_data = <%= @batch.jobs.to_json(:methods => :runtime).html_safe %>;
var sys_data = <%= @batch.system_stats.to_json.html_safe %>
$( document ).ready(function() {
  Batches.show.init();
});

</script>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
